<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/Script.js"></script>
</head>
<body>

    <div ng-controller="myController">
        <input type="checkbox" ng-model="hideSalary" />Hide
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th ng-hide="hideSalary">Salary</th>
                    <th ng-show="hideSalary">Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="emp in employees">
                    <td>{{emp.name}}</td>
                    <td>{{emp.gender}}</td>
                    <td ng-hide="hideSalary">{{emp.salary}}</td>
                    <td ng-show="hideSalary">###</td>
   
                </tr>
            </tbody>
        </table>
    </div>  
</body>
</html>
