<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/Script.js"></script>
</head>
<body>

    <div ng-controller="myController">
        Search: <input type="text" ng-model="searchText" />
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Creator</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="technology in technologies | filter: searchText">
                    <td>{{technology.name}}</td>
                    <td>{{technology.creator}}</td>
   
                </tr>
            </tbody>
        </table>
    </div>  
</body>
</html>
